
.status { grid-area: header; }
.actions { grid-area: menu; }
.PlayerUpper { grid-area: main-upper; }
.PlayerLower { grid-area: main-lower; }
.results { grid-area: right; }
.bet { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main-upper main-upper main-upper right right'
    'menu main-lower main-lower main-lower right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: rgb(6, 65, 21);/*Change to green when merging*/
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(6, 65, 21);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: rgb(216, 213, 24)
}

.Player {
    text-align: left;
    float: left;
}

.Results {
    font-size: 30px;
    color:rgb(216, 213, 24)
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 12px;
    height: 2.5em;
  }

.button_small {
    width: 5em;
}

.button_big {
    width: 10.8em;
}

.button_disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button_left {
    float: left;
}

.inputBet {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 2px;
    float: left;
  }

.Card {
    background-color:white;
    margin: 5px;
    display: block;
    position: relative;
    border: 1px solid #000;
    border-radius: .3em;
    height: 5.6em;
    width: 4.0em;
    float: left;
    
}

.Card_back {
    background-color:red;
}

.Card_contour {
    background-color:rgb(6, 65, 21);
    border: 5px solid white;
}


.Card-red {
    color: red;
}

.Card-black {
    color: black;
}

.Card-text {
    font-size: 28px;
}

.Card-top {
    text-align: left;
}

.Card-middle {
    font-size: 56px;
    text-align: center;
}

.Card-bottom {
    text-align: right;
}