<div class="container-fluid">
    <h1> Pot: {{ pot }} </h1>
    <button nbButton outline status="danger" (click)="restart()">Restart the game</button>
    <button nbButton outline status="danger" (click)="deal()">Deal Cards</button>
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">BLACKJACK</a>
        </div>
    </div>
    <div class="row mt-2">
        <a>
            Round: {{ round }}
        </a>
        <a>
            Amount of players: {{ howManyPlayers }}
        </a>
        <a>
            Cards left: {{ cardsLeft }}
        </a>

        
    </div>
    <div *ngFor="let player of players" class="card m-1 p-1 bg-light">
        <h4>
          Name: {{player.name}}
          Money: {{player.money}}
          Bet: {{player.bet}}
          More cards: {{ player.moreCards }}
          
        </h4>
        <div class="card" *ngIf="player.cards.length != 0">
            <div *ngFor="let card of player.cards" class="card m-2 p-1 bg-light">
                <h4> {{ card.suit}} {{ card.num }}</h4>
            </div>
            <h4>Best hand: {{ player.bestHand }}</h4>
        </div>
        
        <div class="col">
            <input type="number" placeholder="Enter bet size here" #betVal/>
            <div class="col-auto">
                <button class="btn btn-primary" (click)="setBet(+betVal.value)">
                    Bet
                </button>
            </div>
            <td><input type="checkbox" [(ngModel)]="player.moreCards" ></td>
            <td [ngSwitch]="player.moreCards">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
        </div>
      </div>
</div>