<div class="grid-container">

    <div class="status">Game Status
        <br>
        <label>
            Round: {{ round }} Amount of players: {{ howManyPlayers }} Cards left: {{ cardsLeft }} Game over: {{ gameOver }} 
            SplitBet: {{ splitBet }}  Split hands: {{ splitHands.length }} Earlier Bet: {{ earlierBet }}
        </label>
    </div>

    <div class="actions col">Menu
        <br>
        <div *ngIf="canRestart">
            <button class="button button_big" id="restartButton" (click)="restart()">New game</button>
        </div>
        <div *ngIf="!canRestart">
            <button class="button button_big button_disabled" id="restartButton" (click)="disableButton('restart')">New game</button>
        </div>
        <div *ngIf="canStand">
            <button class="button button_small" id="hitButton" (click)="hit()">Hit</button>
            <button class="button button_small" id="standButton" (click)="stand()">Stand</button>
        </div>
        <div *ngIf="canDouble">
            <button class="button button_big" id="doubleButton" (click)="double()">Double</button>
        </div>
        <div *ngIf="canSplit">
            <button class="button button_big" id="splitButton" (click)="split()">Split</button>
        </div>
        <button *ngIf="canResolveSplit" class="button button_big" id="resolveSplitButton" (click)="resolveSplit()">Next hand</button>

    </div>

    <div class="PlayerUpper">Dealer: ${{dealer.money.toString()}}
        <br>
        <div class="col" *ngIf="dealer.hand.howManyCards != 0">
            <div *ngFor="let card of dealer.hand.cards; index as i" [class]='card.colorClass'>
                <div *ngIf="i==0 || gameOver">
                    <div class="Card">
                        <div class="Card-text Card-top"><span>{{card.symbol}}</span><span>{{card.suit}}</span></div>
                        <h1 class="Card-text Card-middle">{{card.suit}}</h1>
                        <div class="Card-text Card-bottom"><span>{{card.suit}}</span><span>{{card.symbol}}</span></div>
                    </div>
                </div>
                <div *ngIf="i!=0 && !gameOver">
                    <div class="Card_contour Card"></div>
                </div>
            </div>
            <h4>Best hand: {{ dealerHand }} </h4>
        </div>
        <div class="col" *ngIf="dealer.hand.howManyCards == 0">
            <div *ngFor="let i of [0,1]">
                <div class="Card Card_contour">
                </div>
            </div>
            <h4>Best hand: {{ dealerHand }} </h4>
        </div>
    </div>

    <div class="PlayerLower Player">Player: ${{user.money.toString()}}
        <br>
            <div class="col" *ngIf="user.hand.howManyCards != 0">
                <div *ngFor="let card of user.hand.cards" [class]='card.colorClass'>
                    <div class="Card">
                        <div class="Card-text Card-top"><span>{{card.symbol}}</span><span>{{card.suit}}</span></div>
                        <h1 class="Card-text Card-middle">{{card.suit}}</h1>
                        <div class="Card-text Card-bottom"><span>{{card.suit}}</span><span>{{card.symbol}}</span></div>
                    </div>
                </div>
                <h4>Best hand: {{ user.bestHand }}</h4>
            </div>
            <div class="col" *ngIf="user.hand.howManyCards == 0">
                <div *ngFor="let i of [0,1]">
                    <div class="Card Card_contour">
                    </div>
                </div>
                <h4>Best hand: 0</h4>
            </div>
    </div>

    <div class="results Results">Results
        <br>
        <div *ngIf="gameOver && winnerNames.length == 1">
            <label class="Card-text">Winner: {{winnerNames[0]}}</label>
        </div>
        <div *ngIf="gameOver && winnerNames.length > 1">Several winners:
            <div *ngFor="let name of winnerNames">
                <label>{{name}}</label>
            </div>
        </div>
    </div>

    <div class="bet">
        <br>
        <h1> Pot: ${{ pot }} </h1>
    
        <div *ngIf="canBet">
            <input class="inputBet" id="inputBet" type="number" value="{{earlierBet}}" #betVal/>
            <button class="button button_left button_small" id="betButton" (click)="bet(+betVal.value)">Bet</button>
        </div>
    </div>

  </div>
